<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h2>Cadastro de Informações Pessoais</h2>


        <form action="../php/login.php" method="POST">

            <label for="nome_login">Nome de login:</label>
            <input type="text" id="nome_login" name="nm_login" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="ds_password" required>

            <button type="submit">Confirmar</button>
            <a class="btn-consultar" href="./cadastro.html">Cadastro</a>
        </form>
    </div>
</body>

</html>